.notes-directory-sidebar {
  padding-top: 0.25rem;
  margin: 0;
  align-self: stretch;
}

.notes-directory-sidebar__title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.notes-directory-sidebar__list {
  list-style-type: none;
  padding: 1.25rem 0 0 0;
}

.notes-directory-sidebar__list-item {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  border: 2px solid var(--color-secondary-darker);
  padding: 0.25rem 0.5rem;
}

.notes-directory-sidebar__directory-title {
  flex-grow: 1;
}

.note-titles-list__button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2rem;
}

.icon-button {
  cursor: pointer;
  margin: auto 0.2rem auto 0;
  padding: 0;
  height: 22px;
  background-color: transparent;
  color: none;

  &:hover {
    background-color: var(--color-secondary);
  }

  &:active {
    transform: translateY(2px);
  }
}

.icon-button__icon {
  margin: 0;
  fill: var(--color-text-primary);
}
