.notes-display__header {
  padding: 1.25rem 1rem 1.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-main-text-area);
  color: var(--color-main-text);
  border: none;
}
.notes-display__content {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  align-self: stretch;
}
.notes-display__no-content {
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1;
  align-self: stretch;
  text-align: center;
}
.notes-display__information {
  padding: 2rem 4rem;
  background-color: var(--color-main-text-area);
}
.notes-display__textarea {
  padding-left: 3rem;
  overflow: auto;
  resize: none;
  white-space: pre;
  outline: none;
  background-color: var(--color-main-text-area);
  color: var(--color-main-text);
  border: none;
  margin: 0;
  justify-content: start;
  flex: 1;
  &:focus {
    outline-color: none;
  }
}
