.notes-directory {
  display: flex;
  height: 100%;
}
.notes-directory--mobile {
  flex-direction: column;
}

.notes-directory__sidebar {
  background-color: var(--color-background);
  padding: 1.25rem;
  flex-grow: 1;
}

.notes-directory__content {
  padding: 1.25rem;
  background-color: var(--color-background);
  overflow-y: auto;
  flex-grow: 4;
}
