.main-navbar__icon-wrapper {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--color-text-on-primary);
  &:hover {
    background-color: var(--color-primary-darker);
  }
}

.main-navbar__icon {
  margin: 0;
  fill: var(--color-text-on-primary);
}

.main-navbar__icon--selected {
  fill: var(--color-primary-darker);
  &:hover {
    fill: var(--color-primary-lighter);
  }
}
.main-navbar__icon-wrapper--selected {
  border: 2px solid var(--color-primary-darker);
  background-color: var(--color-text-on-primary);
  &:hover {
    background-color: var(--color-text-on-primary);
    border-color: var(--color-primary-lighter);
  }
}
