<div class="dropdown">
  <input
    type="text"
    [(ngModel)]="searchText"
    (input)="filterOptions()"
    (click)="toggleDropdown()"
    placeholder="Select an option..."
    class="dropdown-input"
  />
  @if(isDropdownOpen){
  <div class="dropdown-list">
    <div
      class="dropdown-item"
      [class.highlighted]="-1 === highlightedIndex"
      (click)="onSelectOption(null)"
    >
      {{ emptyLabel() }}
    </div>
    @for(option of filteredOptions; let i = $index; track option) {
    <div
      class="dropdown-item"
      [class.highlighted]="i === highlightedIndex"
      (click)="onSelectOption(option)"
    >
      {{ option }}
    </div>
    } @if(filteredOptions.length === 0){
    <div class="dropdown-item empty">No results found</div>
    }
  </div>
  }
</div>
