/* Retro Square Aesthetic */
.dropdown {
  position: relative;
  flex-grow: 1;
  font-family: monospace;
}

.dropdown-input {
  width: 100%;
  padding: 8px;
  border: 2px solid var(--color-main-text);
  background: var(--color-text-on-primary);
  color: var(--color-main-text);
  font-size: 0.8rem;
  outline: none;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  border: 2px solid var(--color-main-text);
  background: var(--color-main-text-area);
  box-shadow: 3px 3px 0px var(--color-main-text);
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-item {
  padding: 8px;
  border-bottom: 1px solid var(--color-main-text);
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background-color: var(--color-secondary-lighter);
}
.dropdown-item.highlighted {
  background-color: var(--color-secondary);
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item.empty {
  text-align: center;
  font-style: italic;
}
:host {
  margin: 0rem calc(1rem + 2px) 0.3rem;
  align-self: stretch;
  display: flex;
  position: sticky;
  padding-bottom: 0.5rem;
  background-color: var(--color-background);
  top: 0;
}
