@for (route of mainNavbarIconConfig; track route.systemName) {
@if(!route.isMobileOnly || devicePreferencesService.isMobile()){
<div
  class="main-navbar__icon-wrapper"
  [ngClass]="{
    'main-navbar__icon-wrapper--selected':
      route.systemName === siteNavigationService.currentRouteName()
  }"
  (click)="route.onClick()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="24px"
    viewBox="0 -960 960 960"
    width="24px"
    fill="#000000"
    class="main-navbar__icon"
    [ngClass]="{
      'main-navbar__icon--selected':
        route.systemName === siteNavigationService.currentRouteName()
    }"
    [innerHTML]="sanitizer.bypassSecurityTrustHtml(route.svgContent)"
  ></svg>
</div>
}}
