@import "variables.css";
@import "reset.css";

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: "Courier New", Courier, monospace;
  line-height: 1.6;
}
