@import "variables.css";
@import "reset.css";
@import "@angular/cdk/text-field-prebuilt.css";

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: "Courier New", Courier, monospace;
  line-height: 1.6;
}
html,
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.notes-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
