.notes-layout {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.notes-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
}
.notes-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
  flex-grow: 1;
}
